# Project Level Ignores
.DS_Store
Thumbs.db
*.log

# ai_service (Python) Ignores
ai_service/__pycache__/
ai_service/.env
ai_service/startup_log.txt
ai_service/system_metrics.db
ai_service/system_metrics.db-shm
ai_service/system_metrics.db-wal
ai_service/test_data.csv
# EXCLUDING LARGE MODELS FOR GITHUB
ai_service/models/

# qunx_ai (Flutter) Ignores
dis/.dart_tool/
dis/.flutter-plugins
dis/.flutter-plugins-dependencies
dis/.metadata
dis/.packages
dis/build/
dis/qunx_ai.iml
dis/nuget.exe
dis/windows/flutter/ephemeral/

# IDE settings
.idea/
.vscode/
*.swp
*.swo
